span{color: rgb(202, 25, 25);}
table{ border: 2px solid;}

tr{background-color: tomato; border:  2px solid ;}
th{background-color: rgb(42, 165, 159);}
p{ color: rgb(163, 104, 104);}
.nice{
    border-style: solid;
}
.face{
    border: dotted black;
}
.peru{
    border: dotted green;
}
#buju{
    background-color: ivory;
}
.inline2{
    background-color: turquoise;
}
.pgi{
    border-style: dashed;
}
.pdp{
    background-color: rgb(0, 0, 0);
}
.pg{
    background-color: black;
    width: 75px;
    border-radius: 4px;
    /* display: inline; */
    
}