input{
    background-image: url(./image/pngwing.com.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 30pt; 
    border-color: rgb(230, 220, 220);
    text-size-adjust: 20px;
    height: 45px;
    width: 550px;
    margin-top: 10px;
    border: 0px solid;
    box-shadow: 2px 2px 3px 4px rgb(233, 233, 233);
}
.link1{
    text-align: right;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color:rgb(78, 78, 78);
}
#glogin{
    padding: 5px;
    
}
.div0{
    display: flex;
    justify-content: right;
}
.div01{
    text-align: center;
} 
.div0 :hover{ 
    color: gold;
    
}
.div02{
    text-align: center;
    margin-top: 50px;
}
.div03{
    text-align: center;
    padding-top: 10px;
    
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  1fr 1fr;
    justify-content: center;
    padding-left: 650px;
    padding-right: 650px;
    margin-top: 50px;
}
.div1{
    padding-bottom: 10px;
}
